/* reset code start here  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

/* reset code end here  */

.container {
  width: 100%;
  height: 100vh;
  background: url("./image/wave-haikei.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 5px #89c9f3, -2px -2px 5px #89c9f3;
  border-radius: 8px;
  backdrop-filter: blur(8px);
  padding: 20px 40px;
  gap: 5px;
}

.signup-header h1 {
  font-size: 2.2rem;
  text-align: center;
  padding: 5px 8px;
}

.signup-header h1:hover {
  color: aqua;
}

.signup-body p {
  margin-top: 20px;
  position: relative;
}

.signup-body p i {
  position: absolute;
  top: 34px;
  right: 16px;
  color: #008000;
  font-size: 22px;
}

.signup-body p span {
  font-size: 18px;
  font-weight: 600;
  color: #90ee90;
}

.signup-body p label {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.signup-body p input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  margin-block: 4px;
  border: none;
  outline: none;
  color: #000;
}

.signup-body p input[type="submit"] {
  border: none;
  background-color: #3498db;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  width: 80%;
  display: block;
  margin: 0 auto;
}

.signup-body p input[type="submit"]:hover {
  background-color: #2773a5;
  transition: all 0.5s;
}

.signup-footer p {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

.signup-footer p a {
  text-decoration: none;
}

.signup-footer p a:hover {
  color: aqua;
  text-decoration: underline;
}
