/*
 * Title: Calculator
 * Description: This is the main project simple of this project
 * Author: Memonul Islam ( Learn in Memonul )
 * Date:1-10-2026
 *
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* reset code start here  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* reset code end here  */

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: cadetblue;
}

html {
  scroll-behavior: smooth;
}

.calculator {
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.25);
}

.calculator:hover {
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input {
  width: 320px;
  border: none;
  padding: 24px;
  margin: 10px;
  background: transparent;
  background-color: #ffffff;
  box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.5);
  text-align: right;
  cursor: pointer;
  color: #0a0a0a;
  margin-bottom: 1.2rem;
  gap: 10px;
  font-size: 1.6rem;
}

input::placeholder {
  font-weight: bold;
  color: #0a0a0a;
}

input:hover {
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

button {
  border: none;
  width: 60px;
  height: 60px;
  font-weight: bold;
  border-radius: 50%;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin-right: 30px;
  gap: 10px;
}

button:hover {
  background-color: orchid;
  color: #ffffff;
}

.equalBtn {
  background-color: #fb7c14;
}

.equalBtn:hover {
  background-color: blueviolet;
  color: indigo;
}

.operator {
  color: #6dee0a;
}

.operator:hover {
  background-color: orangered;
  color: brown;
}
