/*
 * Title: swiper-slider
 * Description: This is the main project simple of this project
 * Author: Memonul Islam ( Learn in Memonul )
 * Date: 1-11-2026
 *
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* reset code start here  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  background-color: cadetblue;
  color: aliceblue;
}

/* reset code end here  */

h2,
h3 {
  text-align: center;
  margin-top: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h2 {
  color: chocolate;
  font-size: 2.5rem;
  margin-top: 0 auto;
}

/* h2,
h3 {
  margin: 0;
}*/

.swiper {
  width: 600px;
  height: 400px;
}
.testimonials {
  padding: 1rem 5rem;
  height: 100vh;
  display: grid;
  place-items: center;
  margin-bottom: 3.6rem;
}

.testimonials h2 {
  text-align: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  margin-bottom: 3.5rem;
}

.testimonial__avatar i {
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.5rem solid #000000;
  cursor: pointer;
  background-color: orange;
}

.testimonial__info {
  text-align: center;
  gap: 15px;
}
.testimonial__desc {
  padding: 0 2rem;
  gap: 15px;
}
