/* reset code start here  */

:root {
  --bcg-color: #001122;
  --primary-color: #155e75;
  --secondary-color: #fff;
  --border-radius: 8px;
  --border-color: #7fb7c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* reset code end here  */

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

.box {
  background-color: var(--primary-color);
  padding: 30px;
  width: 400px;
  border-radius: var(--border-radius);
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

.qr-header h1 {
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: var(--secondary-color);
}

.qr-header input {
  width: 100%;
  margin-block: 12px;
  gap: 10px;
}

.qr-header input[type="text"] {
  text-align: center;
}

.qr-header input,
select {
  padding: 8px;
  font-size: 18px;
  border-radius: var(--border-radius);
  outline: none;
  border: 2px solid var(--border-color);
  margin-top: 10px;
}

.qr-header label {
  color: var(--secondary-color);
  font-size: 20px;
  margin-top: 10px;
}

.qr-header div {
  display: flex;
  justify-content: space-between;
}

.qr-footer {
  display: flex;
  justify-content: center;
}

.qr-footer a {
  background-color: var(--secondary-color);
  text-decoration: none;
  font-size: 20px;
  padding: 14px 36px;
  margin-inline: 2px;
  font-weight: 600;
  color: var(--primary-color);
  border-radius: var(--border-radius);
}

.qr-body {
  display: grid;
  place-items: center;
  padding: 20px;
}

.qr-body img {
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  margin-block: 10px;
  border: 0.5px solid var(--border-color);
  border-radius: var(--border-radius);
}

@media (max-width: 520px) {
  .box {
    width: 80%;
  }
  .qr-footer a {
    padding: 12px;
    font-size: 16px;
  }
}
